@import "tailwindcss";

/* 1. Application de la police globale importée à l'étape 1 */
:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/* 2. Ajustement technique obligatoire pour que Leaflet ne casse pas */
.leaflet-container {
  width: 100%;
  height: 100%;
  font-family: 'Plus Jakarta Sans', sans-serif !important;
  z-index: 1;
}

/* 3. Utilitaire corrigé pour masquer la barre de défilement (Scrollbar) */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* 4. Customisation des Popups de la carte (Design épuré façon TripAdvisor) */
.leaflet-popup-content-wrapper {
  border-radius: 20px !important;
  padding: 6px !important;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1) !important;
  border: 1px solid rgb(243 244 246) !important;
}

.leaflet-popup-tip {
  background: white !important;
  box-shadow: 0 3px 5px rgb(0 0 0 / 0.05) !important;
}

.leaflet-popup-content {
  margin: 8px 12px !important;
  line-height: 1.4 !important;
}